body {
    margin: 0;
    color: #81A4CC;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10 0 40;
}

#main-logo {
    width: 100px;
}

.btn {
    background-color: white;
    padding: 6px 12px;
    border: none;
    font-family: inherit;
    /* font-family: 'Orbitron', sans-serif; */
    color: inherit;
    font-weight: 800; /* bold */
}

.underline {
    /* text-decoration: underline; */
    border-bottom: 4px solid white;
}

/* body * {
    border: 1px solid yellow;
} */
